<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @user.event_id %>
</p>

<p>
  <strong>Tracks:</strong>
 
  <%= @user.tracks.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
